<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-6p] [%d{yyyy-MM-dd HH\:mm\:ss}][%c]%m%n" />
		</layout>
	</appender>

	<!-- DailyRollingFileAppender -->
	<appender name="dailyRollFile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="C:\\tool\\eclipse_jee_luna_win32\\test_workspace_server\\log\\dailyrollinglog\\log.txt" />
		<param name="Threshold" value="INFO"/>
		<param name="DatePattern" value="'.' yyyy-MM-dd-a"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%t] %d{yyyy-mm-dd HH:mm:ss,SSS} %-20.100c.[%M---%L] %-5p====>%m%n" />
		</layout>
	</appender>
		
	<!-- Application Loggers -->
	<logger name="com.alex.springmvc">
		<level value="debug" />
	</logger>
	
	<!-- 3rdparty Loggers -->
	<!-- <logger name="org.springframework.core">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.jndi">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger> -->
	
	<!-- mybatis logger4j设置 -->
	<logger name="org.apache">
		<level value="debug" />
	</logger>
	
	<!-- <logger name="org.mybatis.spring">
		<level value="debug" />
	</logger>
	
	<logger name="java.sql.Statement">
		<level value="debug" />
	</logger>
	<logger name="java.sql.ResultSet">
		<level value="debug" />
	</logger>
	<logger name="java.sql.PreparedStatement">
		<level value="debug" />
	</logger> -->
	
	<!-- Root Logger -->
	<root>
		<priority value="INFO" />
		<appender-ref ref="console" />
		<appender-ref ref="dailyRollFile" />
	</root>
	
</log4j:configuration>
